@charset "UTF-8";
body {
  margin: 0;
  min-width: 350px; }

.content {
  padding-top: 100px;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  background-image: radial-gradient(circle at top center, #0a0f1e, #00000a 50%); }

.quote {
  border-left: 5px solid rgba(255, 255, 255, 0.4);
  padding-left: 20px;
  text-align: justify; }
  .quote__author {
    display: block;
    margin-top: 20px;
    text-align: right;
    max-width: 90%;
    margin-left: auto;
    font-size: 12px; }
    .quote__author:before {
      content: '— '; }

.heading {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-align: center;
  margin: 0 0 50px;
  font-weight: 300;
  font-size: 42px; }

.dot {
  font-size: 0; }

.logotype {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: block;
  margin: 0 auto 75px; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .about__paragraph {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: white;
    margin: 25px 0;
    white-space: pre-line; }
    .about__paragraph:first-child {
      margin-top: 0; }
    .about__paragraph:last-child {
      margin-bottom: 0; }
  .about__creators-item {
    font-weight: bold; }
  .about__link {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white; }
    .about__link:hover {
      border-bottom: 1px dotted white; }

.iphone {
  display: block;
  position: relative;
  width: 291.2px;
  height: 567.2px;
  margin: 25px auto;
  padding: 64.8px 17.6px 64.8px;
  z-index: 0; }
  .iphone:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../assets/imgs/iphone.svg");
    background-size: 100% 100%;
    z-index: 0; }
  .iphone:before {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 50%;
    display: block;
    width: 90%;
    height: 90%;
    content: '';
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: rgba(199, 199, 199, 0.4);
    -webkit-filter: blur(19px);
            filter: blur(19px); }
  .iphone__image {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1; }

.soon {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  margin-top: 100px;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: black; }
  .soon .heading {
    margin-bottom: 30px; }
  .soon__paragraph {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: white;
    margin: 20px 0;
    text-align: center; }
    .soon__paragraph:first-child {
      margin-top: 0; }
    .soon__paragraph:last-child {
      margin-bottom: 0; }
  .soon__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 5px 7px 4px;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    cursor: default; }
    .soon__link-text {
      line-height: 30px;
      color: white; }
    .soon__link-icon {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-right: 10px;
      margin-bottom: 3px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .soon__link-icon svg {
        fill: white; }
